/* app.css */

/* Estilos generales */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para el contenedor principal */
  .contenedor {
    position: relative;
    height: 100vh;
    background-image: url(http://www.planwallpaper.com/static/images/Free-Wallpaper-Nature-Scenes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
  }
  
  /* Estilos para el logo */
  .logo {
    position: absolute;
    top: 10px;
    right: 15%;
    font-size: 25px;
    font-weight: 700;
    color: white;
  }
  
  /* Estilos para el panel de inicio de sesión y registro */
  .login-reg-panel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 70%;
    margin: auto;
    height: 400px;
    background-color: rgba(236, 48, 20, 0.9);
    border-radius: 10px;
    padding: 20px;
  }
  
  /* Estilos para los paneles blanco y de información */
  .white-panel {
    background-color: rgba(255, 255, 255, 1);
    height: 500px;
    position: absolute;
    top: -50px;
    width: 50%;
    right: calc(50% - 50px);
    transition: .3s ease-in-out;
    z-index: 0;
    box-shadow: 0 0 6px #00000096;
    border-radius: 10px;
    padding: 20px;
  }
  
  .login-info-box,
  .register-info-box {
    width: 30%;
    padding: 0 50px;
    top: 20%;
    position: absolute;
    text-align: left;
  }
  
  .register-info-box {
    right: 0;
  }
  
  /* Estilos para los botones de cambio de panel */
  .login-reg-panel #label-login,
  .login-reg-panel #label-register {
    border: 1px solid #9E9E9E;
    padding: 5px 5px;
    width: 150px;
    display: block;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color: #9E9E9E;
    margin: 20px auto;
  }
  
  /* Estilos para los campos de formulario */
  .login-show input[type="text"],
  .login-show input[type="password"],
  .register-show input[type="text"],
  .register-show input[type="password"] {
    width: calc(100% - 40px);
    display: block;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
    border-radius: 5px;
  }
  
  /* Estilos para los botones */
  .login-show input[type="button"],
  .register-show input[type="button"] {
    max-width: 150px;
    width: calc(100% - 40px);
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-show input[type="button"]:hover,
  .register-show input[type="button"]:hover {
    background-color: #333333;
  }
  